@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Robot;
  src: url(/fonts/Roboto/static/Roboto-Black.ttf);
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Robot", sans-serif !important;
}

body {
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

/* In your global.css or main stylesheet */
html[data-theme="dark"] {
  color-scheme: light !important;
}

html {
  color-scheme: light !important;
  data-theme: "light" !important;
}

/* Force light mode on specific elements if needed */
.navbar,
.sidebar,
body,
main {
  background-color: white !important;
  color: black !important;
}
